:root{
  --container-width: 40vw;
  --container-height: 60vh;
  --input-width: calc(40vw - (1.2rem * 4));
}

*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

#container{
  position: relative;
  width: var(--container-width);
  height: var(--container-height);
  top: calc((100vh / 2) - var(--container-height) / 2);
  left: calc((100vw / 2) - var(--container-width) /2 );
  padding: 1.2rem;
  align-content: center;
  padding-top: 2rem;
  border: 1.5rem #ddffee solid;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 1rem #222222;
  background-color: #edffee;
}

#input-container{
  position: relative;
  display: flex;
  font: 2.5rem bold;
  justify-content: flex-end;
}

p{
  position: absolute;
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 1.5rem
}

#bttn-container{
  display: grid;
  margin-top: 2rem;
  grid-gap: 1rem;
  font: 3rem bold;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

input{
  width: 5rem;
  height: 5rem;
  background: #dddddd;
  border-radius: .7rem;
  box-shadow: 1rem 1rem 1rem #222222
}

input[type="text"]{
  width: var(--input-width);
  height: 8vh;
  margin-top: 2rem;
  border-radius: 0;
  border-width: .4rem;
  border-color: none;
  background: inherit;
}

input[type="button"]{
  border-color: white;
}

@media screen and (max-width=500px){
  #container{
    width: 100vhw;
    height: 100vh;
  }
}
